header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post{
    display: flex;
    align-items: center;
    gap: 16px;
}

.imgPost img{
    width: 100%;
    object-fit: cover;
}

.infoPost{
    padding: 10px 15px;
}

.iconsPost{
    display: flex;
    justify-content: space-between;
}

.infoPost .iconsOne{
    display: flex;
    gap: 16px;
}

.icon{
    cursor: pointer;
}

.like{
    margin-top: 6px;
}

.like span{
    font-size: 16px;
    font-weight: 500;

}

.legend{
    margin: 6px 0 3px;
}
.legend p strong{
    font-weight: 500;
}

.timePost time{
    font-size: 11px;
    color: var(--secondary);
}

.comment{
    border-top: 1px solid var(--border-secondary);
    margin-top: 8px;
    display: flex;
}

.commentFake{
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 16px;
}

.commentFake input{
    font-size: 16px;
}

.comment button{
    color: var(--quartary);
    cursor: pointer;
    font-weight: 500;
}